<div class="win-container">  
  <approvalBtn [btnName]="sectionTitle" (btnEmmiter)="reciveMsgFromChild($event)"></approvalBtn>
  <div class="win-rest" *ngIf="sectionBtnStatus">
    <label for="winW" name="winW">Win W</label>
    <input type="text" name="winW" id="winW" placeholder="width" />
    <label for="winH" name="winH">Win H</label>
    <input type="text" name="winH" id="winH" placeholder="height" />
    <h2>Price</h2>
    <h2>145 euro</h2>
    <div class="radiobutton1">
      <input
        type="radio"
        name="type"
        value="single"
        id="single"
        [defaultChecked]="true"
      />
      <label for="single">Single</label>
      <input type="radio" name="type" value="double" id="double" />
      <label for="double">Double</label>
      <input type="radio" name="type" value="doubleT" id="doubleT" />
      <label for="doubleT">doubleT</label>
    </div>
    <div class="radiobutton2">
      <input
        type="radio"
        name="color"
        value="white"
        id="white"
        [defaultChecked]="true"
      />
      <label for="white">White</label>
      <input type="radio" name="color" value="paint" id="paint" />
      <label for="paint">Paint</label>
      <input type="radio" name="color" value="lamination" id="lamination" />
      <label for="lamination">Lamination</label>
    </div>
  </div>
</div>
