<div class="win-container section">
  <approval-btn
    [btnName]="sectionTitle"
    (btnEmmiter)="toggleApprovalBtn($event)"
  ></approval-btn>
  <div class="win-rest" *ngIf="sectionBtnStatus">
    <size-input (inputFieldEmiter)="reciveArea($event)"></size-input>
    <h2>
      Area <span>{{ calculatedArea | number: "1.2-2" }}m2</span>
    </h2>
    <div class="radio-buttons">
      <radio-section
        [groupName]="modelGroupName"
        [valuesAndIds]="modelValuesAndIds"
        (buttonValueEmiter)="radioBtnsValue($event)"
      ></radio-section>
    </div>
    <div class="radio-buttons">
      <radio-section
        [groupName]="colorGroupName"
        [valuesAndIds]="colorValuesAndIds"
        (buttonValueEmiter)="radioBtnsValue($event)"
      ></radio-section>
    </div>
    <h2 class="price">Price 145&euro;</h2>
  </div>
</div>
