.app-container {
  border: solid 2px rgb(50, 150, 250);
  border-radius: 7px;
  color: rgb(50, 150, 250);
  font-size: 0.75rem;
  text-align: center;
  height: 100vh;
}

.empty-div{
  background-color: aqua;
}