.app-container {
  background-color: #2274a5;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 7px;
  color: #e6af2e;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  height: 100vh;
}

.header{
  margin: 2px 15px;
  display: flex;
  justify-content: space-between;
}

.settings-btn {
  font-size: 2rem;
  font-style: normal;
  font-weight: bolder;
}

.empty-div {
  background-color: rgb(222, 223, 226);
}
