<section *ngFor="let item of valuesAndIds; let index = index">
  <!-- explain index??? -->
  <input
    type="radio"
    name="{{ groupName }}"
    value="{{ valuesAndIds[index] }}"
    id="{{ valuesAndIds[index] + groupName }}"
    (click)="radioClicked($event)"
  />
  <!-- Need to do ***valuesAndIds[index] + groupName*** in
    labels and IDs, so we can resolwe connecting
    different groups  -->
  <label for="{{ valuesAndIds[index] + groupName }}">{{
    valuesAndIds[index] | titlecase
  }}</label>
</section>
