<div class="size-input">
  <label class="label" for="width">Width :</label>
  <input
    type="text"
    id="width"
    value="{{ widthNum }}"
    (focus)="onFocus($event)"
    [(ngModel)]="widthNum"
    (focusout)="sendAreaToParent($event)"
    NumberOnly
  />
  <label class="label" for="height">Height :</label>
  <input
    type="text"
    id="height"
    value="{{ heightNum }}"
    (focus)="onFocus($event)"
    [(ngModel)]="heightNum"
    (focusout)="sendAreaToParent($event)"
    NumberOnly
  />
</div>
