.add-view-container {
  border: solid 2px black;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position:absolute;
  bottom: 5px;
  width: 95%;
}

.btn{
  margin: 5px;
  border-radius: 5px;
  width: 30%;
  min-width: 100px;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}